* {
  padding: 0;
  margin: 0;
}

html {
    overflow-y: scroll;
}

body {
  background-color: rgb(252, 252, 252);
}

header {

  width: 100%;
    max-width: 408px;
  height: 150px;
  margin-bottom: 10px;
  margin: auto;
}

header img {
  width: 100%;
  height: 100%;
}

main {
  border: 3px solid black;
  background-color: white;
width: 100%;
    max-width: 408px;
  margin: auto;
}

#s1 {
  margin-top: 15px;
  text-align: center;
  display: flex;
  width: 100%;
}

#s1 img {
  padding: 2px;
  height: 195px;
  width: 120px;
  margin-right: 10px;
  border-radius: 10px;
}

#s2 {
  text-align: center;
  width: 100%;
  margin-bottom: 5px;
}

#s2 img {
  height: 250px;
  width: 200px;
}

#s3 {
width:80%;
max-width: 300px;
  margin: auto;
  text-align: center;
}

#s3 img{
  width: 100%;
  max-width: 408px;
}

#s4 {
width: 100%;
    max-width: 408px;
  margin: auto;
  text-align: center;
}

#s5{
  width: 100%;
    max-width: 408px;
  margin: auto;
  text-align: center;
}

#s5 img{
  width: 100%;
  max-width: 408px;
}

p {
  padding: 5px;
  font-size: 20px;
  text-align: center;
  display: inline;
  font-weight: 300;
  max-width: 600px;
  margin: auto;
}

h3 {
  font-size: 18px;
  font-family:  "Lora", serif;
  font-weight: 600;
  color: #030000;
  line-height: 1.2;
}

h4 {
  display: inline;
}

button {
  font-size: 10px;
  background: #bfbfc0;
  color: #000000;
  padding: 1px;
  border-radius: 5px;
}



h1{
  background-color: #ffffff;
  color:rgb(2, 2, 2) ;
  font-family:"Great Vibes", cursive ;
  font-size: 35px;
  text-align: center;
}

footer {
  margin: auto;
  width: 100%;
  max-width: 408px;

}

article{
  display: flex;
   flex-wrap: wrap;
}


article div{
    width: 203px;
    height: 215px;
    margin-bottom: 5px;
    box-sizing: border-box;

    background: #fff;
  
}

article img{
    width: 77%;
    height: 110px;
    object-fit: cover;
    display: block;
    margin:auto;
    border-radius: 5px;
}

article h5{
    margin: 0;
    font-size: 16px;
    height: 37px;
    color: #222;

}

article div p{
    margin: 3px 0;
    font-size: 15px;
    font-weight: bold;
    color: #0b8d3b;
}

article button{
    padding: 3px 8px;
    font-size: 15px;
    border: 0;
    border-radius: 4px;
    background: #2d7cf6;
    color: #fff;
}

#final{
  color: #000000;
}

#playVideo{
    padding: 3px;
    background: #222;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 12px;
    margin-bottom: 5px;
}

video{
    margin: auto;
    width:85%;
    display:block;
    border-radius: 8px;
}


#area-pix {
    margin-top: 60px;
    margin: auto;
    padding: 5px;
    width: 220px;
    height: 350px;
    display:none;
    position:fixed;
    inset:0;
    background:rgba(231, 230, 230, 0.9);
    justify-content:center;
    z-index:99999;
    border-radius: 10px;
}


.pix-box {
  
   
    width:100%; 
    padding:3px;
    text-align:center;
   
}


.pix-box h2 {
    font-size:18px;
    margin:0 0 15px;
}


.pix-box p {
    font-size:14px;
}


#logopix{
    width:80px ;
    height:80px;
    max-width:none ;
    margin:15px auto;
    display:block;
}


.pix-codigo {
    text-align: center;
    width: 90%;
    height: 90px;
    padding: 3px;
    font-size: 10px;
    box-sizing: border-box;
    overflow-y: auto;
    word-break: break-all;
}


.copiar-btn {
    font-size: 20px;
    width:70%;
    padding:8px;
    background:#009e55;
    color:white;
    border:0;
    border-radius:10px;
}


.fechar-pix {
    position:absolute;
    margin-left:80px;
    margin-top:-10px;
    background:none;
    border:0;
    font-size:35px;
    color: #ff0000;
    width: 30px;
}

#mpix{
  width: 120px;
  font-size:16px;
  margin: auto;
  margin-left: 50px;
  margin-top: 190px;
  background-color: #030303;
  position: fixed;
  background: #222;
  color: rgb(255, 255, 255);
  height: 30px;
  padding: 3px;
  border-radius: 8px;
  opacity: 0;
  transition: 1s;
}

#loading-pix {
    display: none;
    position: fixed;
    inset: 0;

    width: 100%;
    height: 100%;

    background: rgba(255, 255, 255, 0.9);

    align-items: center;
    justify-content: center;

    z-index: 999999;
}

#loading-pix img {
    display: block;
}


@media (max-width: 430px) {
article div{
    width: 185px;
    height: 200px;
    margin: auto;
  
}

article img{
    width: 80%;
    height: 110px;
}
    
article h5,p{
  font-size: 15px;
}

}

@media (max-width: 386px) {
article div{
    width: 170px;
    height: 200px;
    margin: auto;
}

article img{
    width: 80%;
    height: 100px;
}
    
}



@media (max-width: 355px) {

  article div{
    width: 203px;
    height: 220px;
    margin-bottom: 5px;
    box-sizing: border-box;

    background: #fff;

}

article img{
    width: 77%;
    height: 130px;
    object-fit: cover;
    display: block;
    margin:auto;
}

  article {
        display: flex;
        flex-direction: column;
        justify-content: center;
       align-items: center;
    }

  #s1{
    display: block;
    margin-bottom: 15px;
  }


  #s1 img{
  margin-right: 0px;
     width: 95%;
    max-width: 350px;
     height: 176px;
    content: url("./img/alianca.jpg");
  }
  

  h1{
font-size: 25px;
  }
}